@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #4f46e5;
  --color-accent: #f43f5e;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 500px;
}